<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>To Do List</title>
</head>
<body>
    <h1>You created a task!</h1>
    {% for task in tasks %}
        <div class="col-sm-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ task.getDescription }}</h2>
                </div>
                <div class="panel-body">
                    <p>
                        Importance:
                        {% if task.getImportance == 1 %}
                            Important
                        {% else %}
                            Not Important
                        {% endif %}
                    </p>
                    <p>
                        <!-- Change to actual date later -->
                        Due Date: {{ task.getDate }}
                    </p>
                    <p>
                        <!-- Change to actual category later -->
                        Category: {{ task.getCategory}}
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}

    <p><a href='/'>Main Page</a></p>
</body>
</html>
